* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-img {
  display: none;
}

.back-button {
  display: none;
}

body {
  display: flex;
  height: 100vh;
}

.error-field {
  min-height: 1rem;
  color: red;
}

.left-container {
  width: 45%;
  background-color: #63b3f8;
  display: flex;
  flex-direction: column;
}

img {
  align-self: center;
  height: 60%;
  width: 60%;
}

.right-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 9rem 0;
}

.form-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 2.5rem auto;
  width: 75%;
  gap: 0.2rem;
}

.bottom-heading {
  color: #63b3f8;
}

form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 75%;
  margin: 0 auto;
  gap: 1rem;
}

.name-container,
.email-phone-container,
.password-container {
  display: flex;
  gap: 1rem;
  flex-shrink: 1;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.3rem;
}

input:not([type="sumbit"]) {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.submit {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

input[type="submit"] {
  padding: 0.4rem 6rem;
  background-color: #63b3f8;
  border: none;
  color: white;
  border-radius: 0.5rem;
}

.have-account {
  font-size: 0.8rem;
}

.logo-container {
  display: flex;
  color: white;
  font-size: 2.5rem;
}

.logo {
  width: 20%;
  height: auto;
  background-color: transparent;
  margin: 0.3rem;
}

.title {
  align-self: center;
}

.password-length-message {
  font-size: 1rem;
  float: right;
  color: #767676;
}

@media (max-width: 1100px) {
  .name-container,
  .email-phone-container,
  .password-container {
    flex-wrap: wrap;
  }

  body,
  html {
    height: 100vh;
    width: 100%;
    overflow: scroll;
  }

  .left-container,
  .right-container {
    overflow: scroll;
  }

  .form-item {
    width: 90%;
  }

  .password-length-message {
    float: none;
  }

  .submit {
    padding-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
    margin: 0;
    overflow: visible;
    padding: 5% 0;
    border: none;
  }

  .form-heading {
    flex-direction: row;
    width: 85%;
    font-size: 0.7rem;
    margin: 0 auto 1rem auto;
    gap: 0.3rem;
  }

  body {
    height: 100vh;
    overflow: visible;
  }

  form {
    width: 80%;
    height: fit-content;
    gap: 0;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 20px;
  }

  .form-item {
    width: 100%;
    gap: 0;
  }

  .name-container,
  .email-phone-container,
  .password-container {
    gap: 0;
  }

  input:not([type="sumbit"]) {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid black;
  }

  label {
    font-size: 0.7rem;
  }

  .password-length-message {
    font-size: 0.7rem;
    float: right;
  }

  input[type="submit"] {
    width: 60%;
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
  }

  .submit {
    padding: 0;
    margin: 0;
  }

  .mobile-img {
    display: block;
    height: auto;
    width: 40%;
  }

  .back-button {
    display: block;
    height: auto;
    width: 10%;
    background-color: white;
    border: none;
    align-self: center;
  }

  .error-field {
    font-size: 0.8rem;
  }
}
